<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Welcome Email</title>
</head>

<body>
  <h2>Hello {{name}}! </h2>
<p>
  To reset your password
  <a href="">
    click here
  </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p></p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>The Light Level Team</p>
</body>

</html>
<p>Dear {{ user.username }},</p>