<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>

<body>
  <h2>Hej {{name}}! </h2>
<p>Ditt Quizzer-lösenord har uppdaterats.</p>
<p>Om du inte har begärt en återställning av lösenordet, vänligen uppdatera dina inloggningsuppgifter snarast.</p>
<p>Hälsningar,<br/>
The Quizzer Team</p>
</body>

</html>