<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>

<body>
  <h2>Hello {{name}}! </h2>
<p>
  To reset your password
  <a href={{link}}>
    click here
  </a>.
</p>
<p>The password reset link is valid for 30 minutes.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:<br/>
{{link}}</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,<br/>
The Quizzer Team</p>
</body>

</html>