<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>

<body>
  <h2>Hej {{name}}! </h2>
<p>
  <a href={{link}}>
    Klicka här
  </a> för att skapa ett nytt lösenord.
</p>
<p>Återställningslänken för lösenordet är giltig i 30 minuter.</p>
<p>Alternativt kan du klistra in nedanstående länk i din webbläsares adressfält:<br/>
{{link}}</p>
<p>Om du inte har begärt en återställning av lösenordet kan du bortse från detta meddelande.</p>
<p>Hälsningar,</p>
<p>The Quizzer Team</p>
</body>

</html>