//.tooltip-inner {
//  background-color: lightslategrey !important;
//  max-width: 500px !important;
//}

$input-padding-x: 1rem;
$tooltip-max-width: 500px;
$popover-max-width: 350px;
$dropdown-item-padding-x: 1rem;
$dropdown-item-padding-y: 0.5rem;
// $tooltip-bg: lightslategrey;

//@import "~bootswatch/dist/sketchy/variables";
@import "~bootstrap/scss/bootstrap";
//@import "~bootswatch/dist/sketchy/bootswatch";
